# Python virtual environment
venv/

# Byte-compiled / cached files
__pycache__/
*.py[cod]

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Environment variables
.env

# MacOS and Linux system files
.DS_Store
*.swp
